set timeout=300
set default=0

insmod ext2
set root='(hd0,1)'

if loadfont /unicode.pf2 ; then
	set gfxmode=640x480
	insmod gfxterm
	insmod vbe
	if terminal_output gfxterm ; then true ; else
		terminal gfxterm
	fi
fi

set locale_dir=($root)/i686-linux-grub/locale
set lang=zh_TW
insmod gettext

insmod png
background_image /background.png

#set menu_color_normal=blue/black
#set menu_color_highlight=red/black

menuentry "Linux - CentOS-6.10-x86_64-minimal" {
	set root='(hd0,1)'
	set isofile="/images/iso/CentOS-6.10-x86_64-minimal.iso"
	loopback loop $isofile
	linux  (loop)/isolinux/vmlinuz
	initrd (loop)/isolinux/initrd.img
}

menuentry "Linux - LKK (RAM Disk)" {
	set root='(hd0,1)'
	linux  /images/LKK/LKK_KIMAGE root=/dev/ram0 rw console=/dev/tty0
	initrd /images/LKK/LKK_RIMAGE
}

menuentry "Linux - LKK (Root File System in USB)" {
	set root='(hd0,1)'
	linux  /images/LKK/LKK_KIMAGE root=/dev/sdb1 ro rootwait panic=6
}

menuentry "Windows - Boot from HD" {
	set root='(hd1,1)'
	insmod chain
	chainloader +1
}

menuentry "MemTest" {
	set root='(hd0,1)'
	linux16 /images/memtest86+.bin
}

menuentry "Reboot" {
	reboot
}
